xterm*utf8: 1
xterm*termName: xterm-256color
xterm*allowBoldFonts: false
xterm*boldMode: false
!xterm*faceName: Fira Mono:pixelsize=12.2:style=Medium
!xterm*faceName: Hack:pixelsize=12.07:style=Medium
xterm*faceName: IBM Plex Mono:pixelsize=12.07:style=Medium
!xterm*faceName: SF Mono:pixelsize=12.7:style=SemiBold
!xterm*faceName: Roboto Mono:pixelsize=12:style=SemiBold
!xterm*faceName: DejaVu Sans Mono:pixelsize=12.4:style=Medium
!xterm*faceNameDoublesize: WenQuanYi Micro Hei Mono:pixelsize=13.2
!xterm*font: xft:IBM Plex Mono:pixelsize=12.4:style=Medium
!xterm*boldFont: xft:IBM Plex Mono:pixelsize=12:style=Bold
xterm*freeBoldBox: true
xterm*forceBoxChars: true
xterm*saveLines: 10240
!xterm*font: xft:DejaVu Sans Mono:pixelsize=12
!xterm*font: xft:Hack:pixelsize=12.1
!xterm*font: xft:Source Code Pro:style=Medium:pixelsize=12.6
xterm*scaleHeight: 1
xterm*colorBDMode: true
xterm*vt100.translations: #override \
	Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
	Shift Ctrl <Key> V: insert-selection(CLIPBOARD)
xterm*metaSendsEscape: true
xterm*eightBitInput: false
xterm*internalBorder: 8

dzen2.font: IBM Plex Mono:pixelsize=12.4:style=Medium
dzen2.background: #303030
dezn2.foreground: #d0d0d0

Xft.dpi: 102
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! special
*.foreground:   #d0d0d0
*.background:   #141414
*.cursorColor:  #d0d0d0

! black
*.color0:       #262626
*.color8:       #4c4c4c

! red
*.color1:       #ba3c38
*.color9:       #d36f6c

! green
*.color2:       #5d8760
*.color10:      #85ab88

! yellow
*.color3:       #d5a55f
*.color11:      #e5c79c

! blue
*.color4:       #88b0d5
*.color12:      #c1d6e9

! magenta
*.color5:       #cd5b6d
*.color13:      #df96a1

! cyan
*.color6:       #61afac
*.color14:      #94c9c7

! white
*.color7:       #d0cfca
*.color15:      #f4f4f3

! SEOUL 256 DARK
! *background: #262626
! *background: #303030
! *foreground: #d0d0d0
! *color0: #4e4e4e
! *color1: #d68787
! *color2: #5f865f
! *color3: #d8af5f
! *color4: #85add4
! *color5: #d7afaf
! *color6: #87afaf
! *color7: #d0d0d0
! *color8: #626262
! *color9: #d75f87
! *color10: #87af87
! *color11: #ffd787
! *color12: #add4fb
! *color13: #ffafaf
! *color14: #87d7d7
! *color15: #e4e4e4
! *cursorColor: #d0d0d0
! *cursorColor2: #3a3a3a
! *colorBD: #e4e4e4
